ul {
    list-style-type: none;
    padding-left: 0px;
}

div.button {
    color: red;
    padding: 10px;
    width: 8em;
    margin: 2px;
    border: red solid thick;
}

div.button:hover {
    background: crimson;
    color: wheat;
    cursor: pointer;
}